.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-image {
  width: 80px;
  height: 80px;
  margin: 10px 30px;
}

.cart-price {
  margin: 0 30px;
  text-align: center;
}

.cart-amount {
  text-align: center;
}

.cart-trash {
  margin-left: 30px;
}
