@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #cc081e;
  --second-color: #7b7d7d;
  --text-color-button: aliceblue;
  --text-color: black;
}

.layout {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto;
  gap: 10px;
  font-family: "Roboto", sans-serif;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #fbeee6;
}

.header-menu {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-Link:hover,
a:focus,
a:active {
  color: #999;
  text-decoration: none;
}
.header-Link {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.header-Link {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 900;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #000;
}
.header-Link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
.header-Link:active::before {
  background-color: #000;
}
.header-Link:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.header img {
  justify-content: space-around;
  height: 40px;
}

.header-nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.header-counter {
  position: relative;
  top: -0.8rem;
  right: 35px;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 1px solid var(--text-color);
  text-align: center;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
.main {
  grid-area: main;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #fbeee6;
}

.footer nav {
  display: flex;
  gap: 15px;
}
